.idea/
.vscode/
.editorconfig/
eval_plotting/
*__pycache__*
CMakeLists.txt.user

build/
lib/
local_lib_copy_*.so
pommerlearn/1M_simple_0.zr.zip
build1vs1/
data/

# ignore zarr files and folders
*.zr
runs/*
model-sl/*